@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body
{
  background: -webkit-radial-gradient(#ffa500, #ff8800, #f5760e);
  margin: 0;
}
    a{
    margin: 10px;
  }
  
  a{
    text-decoration: none;
  }
  
  a.links{
    display: none;
  }
  
  .content{
    width: 500px;
    margin: 0px auto;
    position: relative; 
  }
  
  h2{
    font-size: 48px;
    color: #ffffff;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
  }
  
  img{
    align-items: center;
  }
  
  .newspaper {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  
  h1{
    font-size: 48px;
    color: #ffa500;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(255, 217, 0, 0) 0%,rgba(255, 208, 0, 0.8) 20%,rgb(255, 197, 5) 53%,rgba(255, 217, 0, 0.8) 79%,rgba(255, 219, 17, 0) 100%); 
    background: linear-gradient(left, rgba(255, 208, 0, 0) 0%,rgba(255, 208, 0, 0.8), 20%,rgb(255, 217, 0) 53%,rgba(255, 196, 0, 0.8) 79%,rgba(255, 187, 0, 0) 100%); 
  }
  
  p{
    margin-bottom:15px;
  }
  p:first-child{
    margin: 0px;
  }
  label{
    color: #ffa200;
    position: relative;
  }
  
  ::-webkit-input-placeholder  {
    color: #000; 
    font-style: italic;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #000;
    font-style: italic;
  } 
  input {
    outline: none;
  }
  
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #eeeeee;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #ffa500;
    padding: 8px 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;  
    border: 1px solid rgb(255, 145, 0); 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px rgb(5, 5, 5);
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
  }
  input[type="submit"]:hover{
    background: #4ab3c6;
  }
  
  .link{
    position: absolute;
    background: #ffae00;
    color: #000;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #fc8230;
  
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
  .link a {
    font-weight: italic;
    background: #fff;
    padding: 6px;
    color: rgb(193, 136, 29);
    margin-left: 10px;
    border: 1px solid #d58918;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
  .link a:hover {
    color: #ffa500;
    background: #fff;
    border: 1px solid #ffae00;
  }
  
  #cadastro, 
  #login{
    position: absolute;
    top: 0px;
    width: 88%; 
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(189, 171, 147, 0.8);
    
    -webkit-box-shadow: 5px;
    border-radius: 5px;
    
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
  
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  
  #paracadastro:target ~ .content #cadastro,
  #paralogin:target ~ .content #login{
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }
  #registro:target ~ .content #login,
  #paralogin:target ~ .content #cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }
  
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
  
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }
#logo {
  margin-left: 100px;
}

#row1, #row2, #row3 {
  margin: 15px;
  font-family: Times New Roman;
}

#row1 {
  display: flex;
}

#row2 {
  display: flex;
}

#row3 {
  display: flex;
}

#salasespeciais {
  background-color: rgb(255, 255, 255);
  color: orange;
  width: 350px;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 800;
}

.btn-primary {
  background-color: rgb(255, 255, 255);
  color: orange;
  width: 150px;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  margin-left: 18%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.btn-primary:hover {
  background-color: #f5760e;
}

header img {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  height: 60%;
  width: 40%;
}

#calen{
  display: flex;
}

div #eletro{
  display: flex;
  margin-left: 70px;
}

div #mec{
  display: flex;
  margin-left: 70px;
}
#elite{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  height: 60%;
  width: 40%;
}


#row4, #row5, #row6 {
  margin: 15px;
  font-family: Times New Roman;
}

#row4 {
  display: flex;
}

#row5 {
  display: flex;
}

#row6 {
  display: flex;
}

#borracheiros{
    width: 500px;
   }
   
   #oscoelce{
     width: 500px;
   
   }
   
   #data{
     width: 300px;
   }
   
   #som{
     width: 300px;
   }
   
   #mic{
     width: 300px;
   }
   
   #tv {
     width: 300px;
   }

   #logo{
     display: flex;
     margin: auto;
   }

   #ambientes{
    background-color: rgb(255, 255, 255);
    color: orange;
    width: 350px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 800;
    margin-left: 80%;
   }
   
   #Equipamentos{
    background-color: rgb(255, 255, 255);
    color: orange;
    width: 350px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 800;
   }
  
   #cadastro{
    background-color: rgb(255, 255, 255);
    color: orange;
    width: 350px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 800;
    margin-top: 40%;
   }

.newspaper {
  display: flex;

}

#opçoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#opçoes button {
  width: 250px;
  margin: 3px 3px;
  font-family: 'Poppins', sans-serif;
}

#concluido{
  border-radius: 15px;
  margin: auto;
  display: block;
  width: 350px;
  height: 350px;
}

.card{
  width: 100%;
}

div h2 {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}